.container {
  height: 100vh;
}

.container .main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.container .main-content .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.container .main-content form {
  width: 100%;
  margin: 0.5rem 0;
}

.container .main-content form .num-inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.container .main-content form .num-inputs:nth-child(1) {
  width: 60%;
}

.container .main-content form .rad-inputs,
.container hr,
.container .main-content form .search-inputs {
  margin: 1rem 0;
}

.container .main-content form .search-inputs {
  width: 30%;
}

.container .main-content form .form-check {
  font-size: 0.8rem;
}

.container .main-content form .form-check.parent {
  padding: 1rem 0.5rem;
  background-color: lightgray;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .main-content form .form-check.childrens {
  display: flex;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.container .main-content form .form-check.parent label {
  font-family: Arial, Helvetica, sans-serif;
}

.container .main-content form .input-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
