.container {
  height: 100vh;
}

.container .content {
  margin: 4rem 12rem;
  /* border: 1px solid #000; */
}

.container .content .header {
  display: flex;
  font-weight: 300;
  justify-content: space-between;
}

.container .content .header + form {
  margin: 1rem 0;
}

.container .content .form {
  display: flex;
  margin: 0.65rem 0;
  width: 500px;
  gap: 10px;
}

.container .content .form input {
  padding: 5px;
  border: none;
}

.container .content .form .left {
  width: 75%;
  border-radius: 5px;
  border: 1px solid black;
}

.container .content .form > * > input {
  width: 100%;
}

.container .content .form .right {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding-right: 10px;
  border-radius: 5px;
}

.radio-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-list .form-control {
  display: flex;
  gap: 5px;
}

.radio-list .form-control input {
  height: 1rem;
}

.warning {
  background-color: orange;
  border-color: orange;
  color: white;
}
